@CHARSET "UTF-8";
div#information {
	width:100%;
}
div#information p {
/* 	text-align: center; */
	color: #888;
	font-family: 'Georgia';
}
.logo {
	text-align: center;
}
div#information img {
	width: 200px;
}

div#signUp h1 {
	color: #888;
	font-family: 'Georgia';
}

div#signUp {
	text-align: center;
	width: 100%;
	overflow: hidden;
}

ul {
	list-style: none; /*no bullet point*/
/* 	display:block; */
	margin:0;
	padding:0;
}

ul li {
/* 	display: inline; */
 	float:left; /*no saut de ligne */
}

 /*following lines to center the signing up boxes (index.html) */
 #signUp ul {
 	position:relative;
 	float: left;
 	left:50%;
 }
#signUp ul li {
	position: relative;
	right:50%;
}
ul li a {
	text-decoration: none; /*no souligné*/
	display: block;
/* 	color: #ffffff; */
	padding: 6px 15px 6px 15px;
	border: 1px solid #000;
	border-radius:3px;
	margin-left:10px;
}

ul li a:hover {
	background: blue;
	color: #ffffff;
}
